[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autobahn = ">=18.7.1"
twisted = ">=18.7.0"
psutil = ">=5.4.6"
pywin32 = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
pytest = "*"
pytest-twisted = "*"
twine = "*"
pytest-cov = "*"
pipenv = "*"

[requires]
python_version = "3.6"
